{
  "packageName": "com.levelinfinite.sgameGlobal.midaspay",
  "titles": {
    "default": "3Skill Honor of Kings config"
  },
  "mappings": {
    "walk_control": {
      "type": "joystick",
      "joystick": "left",
      "center": {
        "x": 310,
        "y": 845
      },
      "radius": 150
    },
    "skill_casting": [
      {
        "type": "joystick_button",
        "joystick": "right",
        "center": {
          "x": 1427,
          "y": 944
        },
        "radius": 180,
        "button": "LB"
      },
      {
        "type": "joystick_button",
        "joystick": "right",
        "center": {
          "x": 1748,
          "y": 630
        },
        "radius": 180,
        "button": "LT"
      },   
      {
        "type": "joystick_button",
        "joystick": "right",
        "center": {
          "x": 1228,
          "y": 942
        },
        "radius": 180,
        "button": "RT"
      },
      {
        "type": "joystick_button",
        "joystick": "right",
        "center": {
          "x": 1552,
          "y": 740
        },
        "radius": 180,
        "button": "RB"
      }
    ],
    "button_mappings": [
      {
        "type": "button",
        "button": "A",
        "touch": {
          "x": 1765,
          "y": 920
        }
      },
      {
        "type": "button",
        "button": "B",
        "touch": {
          "x": 1852,
          "y": 764
        }
      },
      {
        "type": "button",
        "button": "X",
        "touch": {
          "x": 1585,
          "y": 994
        }
      },
      {
        "type": "button",
        "button": "Y",
        "touch": {
          "x": 1064,
          "y": 941
        }
      },
      {
        "type": "button",
        "button": "DOWN",
        "touch": {
          "x": 1334,
          "y": 840
        }
      },
      {
        "type": "button",
        "button": "LEFT",
        "touch": {
          "x": 1456,
          "y": 620
        }
      },
      {
        "type": "button",
        "button": "UP",
        "touch": {
          "x": 1652,
          "y": 516
        }
      },
      {
        "type": "button",
        "button": "RIGHT",
        "touch": {
          "x": 204,
          "y": 396
        }
      },
      {
        "type": "button",
        "button": "SELECT",
        "touch": {
          "x": 204,
          "y": 528
        }
      },
      {
        "type": "button",
        "button": "START",
        "touch": {
          "x": 1810,
          "y": 56
        }
      },
      {
        "type": "button",
        "button": "LTHUMB",
        "touch": {
          "x": 896,
          "y": 942
        }
      },
      {
        "type": "button",
        "button": "HOME",
        "touch": {
          "x": 896,
          "y": 942
        }
      },
      {
        "type": "button",
        "button": "RTHUMB",
        "touch": {
          "x": 1704,
          "y": 392
        }
      }
    ]
  }
}

